name: GoReleaser Build and Release

on:
  push:
    tags:
      - 'v*'
env:
    GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install eBPF/C build dependencies
        # These are needed for CGO_ENABLED=1 and compiling the BPF C code
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends build-essential clang llvm libelf-dev linux-headers-$(uname -r)

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          BPF_CFLAGS: "-I/usr/src/linux-headers-$(uname -r)/include -I/usr/src/linux-headers-$(uname -r)/arch/$(dpkg --print-architecture)/include"
          CGO_ENABLED: "1" 